<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css" rel="stylesheet">


<h3> <%= link_to "Start search", actor_movies_path  %> </h3>


<h1>Add a new movie</h1>

<%= form_for @movie do |f| %>
  <%= f.text_field :title, :placeholder => "Title" %>
  <%= f.text_field :year, :placeholder => "Year" %>
  <%= f.submit "Add" %>
<% end %>


<p>
  <%= link_to "Back to movies", movies_path %>
</p>